{{#each docs}}
{{#if cover_i}}
<li>
    <div class="bookCoverContainer"></div>
    <img src="https://covers.openlibrary.org/b/id/{{cover_i}}.jpg" alt={{author_name}}/>
    <div class="bookInfo"></div>
    <h1>{{title}}</h1>
    <h2>by {{author_name}}</h2>
    {{#if first_publish_year}}
    <h2>First published: {{first_publish_year}}</h2>
    {{/if}}
    <button class="add">Add to Library</button>
</li>
     {{/if}}
{{/each}}